
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@100&display=swap');


:root {
    --heading-font:'Raleway', sans-serif;
}
:root {
    --main-font:'Montserrat', sans-serif;
}

:root {
    --header-color: #022B3A;
}

:root {
    --blue-box: #BFDBF7;
}

:root {
    --lilac-box: #E1E5F2;
}

:root {
    --turquoise-box: #1F7A8C;
}

h1 {
    font-family: var(--heading-font);
}