
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');


:root {
    --heading-font:'Raleway', sans-serif;
}
:root {
    --main-font:'Montserrat', sans-serif;
}

:root {
    --dark-color: #022B3A;
}

:root {
    --blue-box: #BFDBF7;
}

:root {
    --lilac-box: #E1E5F2;
}

:root {
    --turquoise-box: #1F7A8C
}
/* General CSS rules */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: var(--main-font);
}
strong {
    font-weight:bold;
}

ul {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type:none;

}

li {
    padding-bottom: 10px;
}

ol {
    padding: 15px;
   
}
.section-header{
    text-align: center;
    padding: 30px;
    font-weight: 800;
    color: var(--dark-color);
}

/*Logo and Menu styling */

header {
    background-color: var(--dark-color);
    height: 75px;
}
footer {
    background-color: var(--dark-color);
    height: 75px;
    text-align: center;
    color: #FFF;
    line-height: 75px;
}


h1 {
    font-family: var(--heading-font);
    color: #fff;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 4px;
    float: left;
    font-size: 280%;
    line-height: 75px;
    margin-left: 20px;
    font-weight: 300;
}
h2 {
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 300;
}
.bristol {
    display: inline;
    color: var(--blue-box);
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    line-height: 75px;
 
}

#menu li {
    color: #fff !important;
    float: right;
    margin-right: 30px;
    font-family: var(--main-font);
  }

  #menu a {
      text-decoration: none;
      color: inherit;
  }

  #menu a:hover {
      border-bottom: 1px solid #FFF;
  }

  .active {
    border-bottom: 1px solid #FFF;
  }

  /* Hero images  and cover text*/


  #hero-outer, #hero-outer-swimspot, #hero-outer-swimsafe, #hero-outer-getstarted {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
 
  }

  #cover-text, #cover-text h2, #cover-text-swimspot, #cover-text-swimspot h2, #cover-text-swimsafe, #cover-text-swimsafe h2, #cover-text-getstarted, #cover-text-getstarted h2  {
    color: #fff;
    text-align: center;
    font-size: 120%;
  }

  #hero-image, #hero-image-swimspot, #hero-image-swimsafe, #hero-image-getstarted {
      height: 600px;
      width: 100%;
    

      /* animation of hero image when the page is loading */
      animation: hero-zoom;
      animation-duration: 5s;
      animation-fill-mode: forwards;
  }

  #hero-image {
    background: url('../images/male_swimmer.png') no-repeat center center;
  }
  #hero-image-swimspot {
    background: url('../images/clevedon.png') no-repeat center center;
  }

  #hero-image-swimsafe {
      background: url('../images/lillypad.png') no-repeat center center;
  }

  #hero-image-getstarted {
        background: url('../images/getstarted.png') no-repeat center center;;
  }

  /* Hero image zoom */

  @keyframes hero-zoom {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text, #cover-text-swimspot, #cover-text-swimsafe, #cover-text-getstarted  {
    font-size: 130%;
    font-family: var(--main-font);
    text-transform: uppercase;
    letter-spacing: 2px;


    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 5px;

    background-color: rgba(31, 122, 140, 0.7);
}

#cover-text {
    width: 300px;
    height: 200px;
    bottom: 200px;
    right: 200px;
    position: absolute;
}

#cover-text-getstarted  {
    width: 600px;
    height: 200px;
    bottom: 200px;
    right: 200px;
    position: absolute;
}

#cover-text-swimspot, #cover-text-swimsafe {
    width: 500px;
    height: 200px;
    bottom: 200px;
    left: 200px;
    position: absolute;
}

/* Home link sections  */

.home-blue-box {
    margin: 30px 300px 30px 300px;
    background-color: var(--blue-box);
    height: 464px;
}
.home-lilac-box {
    margin: 30px 300px 30px 300px;
    background-color: var(--lilac-box);
    height: 464px;
}
.home-turquoise-box {
    margin: 30px 300px 30px 300px;
    background-color: var(--turquoise-box);
    height: 464px;
}

.home-text-right {
    float: right;
    padding: 50px 50px 50px 0;
    color: var(--dark-color);
    width: 50%;
}

.home-text-left {
    float: left;
    padding: 100px 0px 50px 50px;
    color: var(--dark-color);
    width: 50%;
  
}

.home-blue-box img, .home-lilac-box img, .home-turquoise-box img {
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
margin-top: 30px;
margin-bottom: 30px;
height: 400px;
width: 400px;
}

.home-blue-box img, .home-turquoise-box img{
    margin-left: -100px;
}

.home-lilac-box img {
    margin-right: -100px;
    float: right;
    width: 50%;

}


.home-text-right h2, .home-text-left h2 {
    font-family: var(--heading-font);

    font-size: 40px;
    line-height: 55px;
}
.home-turquoise-box h2, .home-turquoise-box p {
    color: #fff;
}


.button {
    padding: 10px 5px 10px 5px;
    background-color: var(--dark-color);
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100px;
}

.button:hover {
    background-color: #fff;
    color: (var(--dark-color));
}

/* Bottom banner sections */
#no-trace-outer{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative; 
}

#no-trace-image {
    height: 500px;
      width: 100%;
      background: url('../images/conhamriverbanner.png') no-repeat center center;   
}

#no-trace-cover-text {
    font-size: 130%;

    letter-spacing: 2px;


    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;


    background-color: rgba(31, 122, 140, 0.7);
    width: 300px;
    height: 200px;
    bottom: 100px;
    right: 200px;
    position: absolute;
    color: #fff;
}

/* Swim spot sections */

.swim-spot-container {
    position: relative;
    margin: 10px auto;
    width: 650px;
}
.swim-spot-container-eastwood {
    width: 750px;
    position: relative;
    margin: 10px auto;
}
.swim-spot-text {
    position: absolute;
    background-color: rgba(31, 122, 140, 0.8);
    width: 500px;
    height: 500px;
    line-height: 25px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 20px 20px 20px ;
}
.swim-spot-text-eastwood {
    position: absolute;
    background-color: rgba(31, 122, 140, 0.8);
    width: 600px;
    height: 600px;
    line-height: 25px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 20px 20px 20px ;
}
/* Links and Icons  for swim spot information*/


.clevedon-links li { 
    display: inline;
    padding-left: 10px;
    
    
}

.white-icon {
    color: #fff;
    font-size: 30px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

/* Location boxes */

.location-box, .lilac-location-box {
    background: var(--dark-color);
    height: 500px;
    padding: 5px 20px 5px 10px;
}

.location-box-eastwood {
    background: var(--dark-color);
    height: 600px;
    padding: 10px 10px 10px 10px;
}

.lilac-location-box{
    background: var(--lilac-box);
    height: 500px;
 
}
.location-box h2, .lilac-location-box h2, .location-box-eastwood h2{
text-align: center;
color: #fff;
padding-top: 10px;
padding-bottom: 10px;

font-size: 250%;

}

.lilac-location-box h2 {
    color: var(--dark-color);
}

.direction-list, .direction-list-left, .direction-list-right  {
    background: var(--blue-box);
    padding: 5px 5px;
    line-height: 30px;

}
.direction-list{
    float: right;
    width: 60%;
}

.direction-list-left {
    float:left;
    width: 45%;
  
}
.direction-list-right {
    float:right;
    width: 45%;
    margin:10px 10px;
}
.direction-list-left h2, .direction-list-right  h2{
color: var(--dark-color);
}


.direction-list-lilac {
    float: left;
    background: var(--dark-color);
    padding: 10px 10px;
    line-height: 30px;
    width: 60%;
}
.direction-list-lilac p {
    color: #fff;
}
.direction-list p, .direction-list-lilac p, .direction-list-left p, .direction-list-right p {
    display: inline;
}

.location-box iframe, .lilac-map iframe {
    padding-left: 50px;
    width: 30%;
}

.location-box iframe {
    float: left;
   
}

.right-map iframe {
    float: right;
   
}

.right-map {
    padding-left: 50px;
}

.blue-icon {
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 30px;
    color: var(--dark-color);
}

a {
    color: inherit;
}






/* Divider block and lines on pages */
.block-blue {
    width: 100%;
    height: 30px;
    background: var(--dark-color);

}

hr{
    border: 1px solid #1F7A8C;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

/* Why swim section */

#why-start, #safe-tip {
    
    background: var(--lilac-box);
    color: var(--dark-color);
 
}
#why-start{
    height: 500px;
}
#safe-tip {
    height: 900px;
}

#left-start, #left-safe {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-start, #right-safe {
    padding-top: 30px;
    width: 33%;
    float: right;

}

#center-start, #center-safe {
    padding-top:50px;
    width: 33%;
    margin: 0 auto;
}
#center-safe {
    padding-top: 250px;
}
 

/* Style Get Started reasons and saftey tips*/

.left-start-reason, .right-start-reason, .right-safe-tip, .left-safe-tip {
    background: var(--blue-box);
    width: 80%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    padding: 10px;

}

.left-start-reason, .left-safe-tip {
    float: right;
}

.right-start-reason, .right-safe-tip {
    float: left;
    text-align: right;
}

.circle-container {
    height: 300px;
    width: 300px;
    background: var(--turquoise-box);
    border-radius: 50%;
    color: #fff;
    margin: 0 auto;
    padding: 30px;
}

.circle-container h2 {
 padding-top:100px;
   text-align: center;
   font-size: 50px;
 
}

/* Swimming videos */
.pensford h2{
text-align: center;
padding-top: 20px;
}
.pensford-video{
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* Kit list */

#kit-list {
    background: var(--dark-color);
    color: white;
    margin: 20px 20px;
    padding: 20px 20px;
    height: 700px;
}
#kit-list h2 {
   text-align: center;
    color: #fff;
    font-weight: 800;
}

#kit-list-left{
    width: 50%;
  height: 300px;
    float: left;
}

#kit-list-right {
    width: 50%;
    height: 300px;
    float: right;
}

#kit-list-left li, #kit-list-right li {
    line-height: 30px; ;
    margin-bottom: 10px;


}


/* kit list video section */
.kit {
text-align: center;
}
.kit-video {
    width: 50%;
    display: block;
    margin: 40px auto;
}

/* Social link */

.social {
    background: var(--lilac-box);
    padding: 20px 20px;

}

.social a {
    text-decoration: none;
      color: inherit;
      font-size: 20px;
    
}
.social li {
    color: #fff;
}

.social .white-icon {
    font-size: 20px;
}

/* Safety tips */

.emergency li {
    text-align: center;
}

/* Temperature guide */

#temp-guide {

    
    background-image: url('../images/conhamriverbanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 250px;

}

#temp-guide div {
    color: #fff;
    width: 25%;
    height: 250px;
    float: left;
    background-color: rgba(31, 122, 140, 0.6);
    padding: 30px 10px 10px 10px;
    text-align: center;
    border: 4px solid white;
    box-sizing: border-box;


}



.white-hr {
    border: 1px solid #FFF;
}
/* rnli video */

.safe-video {
    width: 50%;
    display: block;
    margin: 40px auto;
    padding-bottom: 30px;
}

.lilac-background {
    background: var(--lilac-box);
}
